# Big Data Exercises

In these exercises we will work on data from a series of global weather monitoring stations used to measure climate trends to examine long-term trends in temperature for your home locality. This data comes from the Global Historical Climatology Network, and is the actual raw data provided by NOAA. The only changes I have made to this data are a few small formatting changes to help meet the learning goals of this exercise. 

To do these excercises, first please download the data for this exercise [from here](https://www.dropbox.com/s/oq36w90hm9ltgvc/global_climate_data.zip?dl=0). Note this is a big file (this is a big-data exercise, after all), so be patient.

**(1)** The data we'll be working with can be found in the file `ghcnd_daily.tar.gz`. It includes daily weather data from thousands of weather stations around the work over many decades. 

Begin by decompressing the file and checking it's size -- it should come out to be *about* 4gb, but will expand to about 12 gb in RAM, which means there's just no way most students (who usually have, at most, 16gb of RAM) can import this dataset into pandas and manipulate it directly. 

(Unsure how to decompress it? Try checking the readme)

(Note: what we're doing can be applied to much bigger datasets, but they sometimes takes hours to work with, so we're working with data that's just a *little* big so we can get exercises done in reasonable time).

In [2]:
import pandas as pd

**(2)** Thankfully, we aren't going to be working with *all* the data today. Instead, everyone should pick three weather stations to examine during this analysis. 

To pick your stations, we'll need to open the `ghcnd-stations.txt` file in the directory you've downloaded. It includes both station codes (which is what we'll find in the `ghcnd_daily.csv` data, as well as the name and location of each station). 

When picking a weather station, make sure to pick one flagged as being in either GSN, HCN, or CRN (these designate more formalized stations that have been around a long time, ensuring you'll get a station with data that has been recorded over a longer period). 

Note that Station IDs start with the two-letter code of the country in which they are located, and the "NAME" column often constains city names. 

**The `ghcnd-stations.txt` is a "fixed-width" dataset,** meaning that instead of putting commas or tabs between observations, all columns have the same width (in terms of number of characters). So to import this data you'll have to (a) read the notes about the data in the project README.txt, and (b) read about how to read in fixed-width data in pandas. When entering column specifications, remember that normal people count from 1 and include end points, while Python counts from 0 and doesn't include end points (so if the readme says data is in columns 10-20, in Python that'd be 9 through 20).

In [3]:
# selected station ids
selected = set(["USC00050848", "US1NCDH0006", "USC00092006"])

**(3)** Now that we something about the observations we want to work with, we can now turn to our actual weather data. 

Our daily weather can be found in `ghcnd_daily.csv`, which you get by unzipping `ghcnd_daily.tar.gz`. Note that the README.txt talks about this being a fixed-width file. Since you've already dealt with one fixed-width file, I've just converted this to a CSV, and dropped all the data that isn't "daily max temperatures". 

Let's start with the fun part. **SAVE YOUR NOTEBOOK AND ANY OTHER OPEN FILES!**. Then just try and import the data (`ghcnd_daily.csv`) while watching your Activity Monitor (Mac) or Resource Monitor (Windows) to see what happens.  

If you have 8GB of RAM, this should fail miserably. 

If you have 16GB of RAM, you might just get away with this. But if it *does* load, try sorting the data by year and see how things go. 

(If you have 32GB of RAM: you're actually probably fine with data this size. Sorry -- datasets big enough to cause big problems for people with 32GB take a long time to chunk on an 8GB computer, and these exercises have to be fast enough to finish in a class period! There are some exercises at the bottom with a REALLY big dataset you can work with.)

You may have to kill your kernel, kill VS Code, and start over when this explodes...

In [5]:
reader = pd.read_csv(
    "/Users/brucechen/Documents/IDS720 PDS/global_climate_data/ghcnd_daily.csv",
    chunksize=150_000,
)

**(4)** Now that we know that we can't work with this directly, it's good with these big datasets to just import ~200 lines so you can get a feel for the data. So load *just 200 lines* of `ghcnd_daily.csv`.

In [1]:
import pandas as pd

chunks = pd.read_csv(
    "/Users/brucechen/Documents/IDS720 PDS/global_climate_data/ghcnd_daily.csv",
    chunksize=10000,
)

**(5)** Once you have a sense of the data, write code to chunk your data: i.e. code that reads in all blocks of the data that will fit in ram, keeps only the observations for the weather stations you've selected to focus on, and throws away everything else.

In addition to your own three weather stations, please also include station USC00050848 (a weather station from near my home!) so you can generate results that we can all compare (to check for accuracy). 

Note you will probably have to play with your chunk sizes (probably while watching your RAM usage?). That's because small chunk sizes, while useful for debugging, are very slow. 

Every time Python processes a chunk, there's a fixed processing cost, so in a dataset with, say, 10,000,000 rows, if you try to do chunks of 100 rows, that fixed processing cost has to be paid 100,000 times. Given that, the larger you can make your chunks the better, so long as your chunks don't use up all your RAM. Again, picking a chunk size then watching your RAM usage is a good way to see how close you are to the limits of your RAM.

In [6]:
for i, chunk in enumerate(reader):
    filtered = chunk[chunk["id"].isin(selected)]
    if not filtered.empty:
        filtered.to_csv("filtered.csv", mode="a", header=(i == 0), index=False)

/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (50,70,74,78,98,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,38,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (47,107,111,115,119,123) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,71,75,79,83,87,91,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (11,15,19,47,67,71,75,103) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (23,119) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (15,19,23,39,43,47,51,55,59,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,83,87,91,95,99,103,107,111,115,119,123,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,101,103,105,107,109,111,113,115,117,119,121,123,125,126,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (5,9,13,17,21,25,29,33,37,41,45,49,53,57,61,65,69,73,77,81,85,89,93,97,101,105,109,113,117,121,125) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):
/var/folders/rs/c8pwrc0n0w5dp0btv3ttdpfw0000gn/T/ipykernel_20246/3065802753.py:1: DtypeWarning: Columns (58,66,114) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(reader):

**(6)** Now, for each weather station, figure out the *earliest* year with data. Keep `USC00050848` and the two of the three weather stations you picked with the best data (i.e., you should have 3 total, two you picked and `USC00050848`).

In [10]:
cols = pd.read_csv(
    "/Users/brucechen/Documents/IDS720 PDS/global_climate_data/ghcnd_daily.csv",
    nrows=0,
).columns

In [12]:
stations = pd.read_csv("filtered.csv")
stations.columns = cols
stations.head()

,id,year,month,element,value1,mflag1,qflag1,sflag1,value2,mflag2,...,qflag29,sflag29,value30,mflag30,qflag30,sflag30,value31,mflag31,qflag31,sflag31
0,USC00050848,1893,11,TMAX,189,NaN,NaN,6,78,NaN,...,NaN,6,133,NaN,NaN,6,-9999,NaN,NaN,NaN
1,USC00050848,1893,12,TMAX,167,NaN,NaN,6,133,NaN,...,NaN,6,39,NaN,NaN,6,89,NaN,NaN,6
2,USC00050848,1894,1,TMAX,128,NaN,NaN,6,122,NaN,...,NaN,6,-9999,NaN,NaN,NaN,-9999,NaN,NaN,NaN
3,USC00050848,1894,2,TMAX,-11,NaN,NaN,6,44,NaN,...,NaN,NaN,-9999,NaN,NaN,NaN,-9999,NaN,NaN,NaN
4,USC00050848,1894,3,TMAX,106,NaN,NaN,6,144,NaN,...,NaN,6,167,NaN,NaN,6,194,NaN,NaN,6

In [16]:
earliest = stations.groupby("id")["year"].min().reset_index()
earliest.columns = ["id", "earliest_year"]
earliest

            id  earliest_year
0  USC00050848           1893
1  USC00092006           1972

**(7)** Now calculate the average max temp for each weather station / month in the data. Note that in a few weeks, we'll have the skills to do this by reshaping our data so each row is a single day, rather than a month. But for the moment, just sum the columns, watching out for weird values. 

To sum across the value columns, we can combine: 

```python
weather_data.filter(like='value')
```

(to just get the columns whose names start with "value") with `.mean(axis='columns')` (which averages across columns (along rows) rather than the usual averaging across rows (along columns).

In [23]:
# select only max temperature records
max_temp = stations[stations["element"] == "TMAX"]

# replace -9999 with NaN for missing values
value_cols = [f"value{i}" for i in range(1, 32)]
max_temp[value_cols] = max_temp[value_cols].replace(-9999, pd.NA)

# average daily tmax values
max_temp["mean_tmax"] = max_temp[value_cols].mean(axis="columns")

# aggregate by month and station id
avg_max = max_temp.groupby(["id", "month"], as_index=False)["mean_tmax"].mean()


avg_max

             id  month   mean_tmax
0   USC00050848      1   72.583226
1   USC00050848      2   83.596231
2   USC00050848      3  118.885927
3   USC00050848      4  166.004336
4   USC00050848      5  212.552658
5   USC00050848      6  270.925187
6   USC00050848      7   302.24904
7   USC00050848      8  293.265027
8   USC00050848      9  251.729476
9   USC00050848     10  189.726801
10  USC00050848     11  121.470457
11  USC00050848     12   78.655562
12  USC00092006      1  103.967742
13  USC00092006      2    123.9051
14  USC00092006      3   166.43833
15  USC00092006      4  215.475351
16  USC00092006      5  250.026882
17  USC00092006      6  287.966667
18  USC00092006      7  298.205556
19  USC00092006      8  294.858423
20  USC00092006      9  269.009825
21  USC00092006     10  217.267802
22  USC00092006     11  151.852208
23  USC00092006     12  120.996205

**(6)** Now for each weather station, generate a separate plot of the daily temperatures over time. You should end up with a plot that looks something like this:

![temp_plots_Colorado](images/temp_plots_Boulder_CO.png)

**NOTE:** If your plot has little horizontal lines at the tops and bottoms of the temperature plots connecting perfectly vertical temperature lines, it means you made a mistake in how you plotted your data!

## Want More Practice?

If you *really* want a challenge, the file `ghcnd_daily_30gb.tar.gz` will decompress into `ghcnd_daily.dat`, the full version of the GHCND daily data. It contains not only daily high temps, but also daily low temps, preciptionation, etc. Moreover, it is still in fixed-width format, and is about 30gb in raw form. 

Importing and chunking this data (with moderate optimizations) took about 2 hours on my computer. 

If you're up for it, it's a great dataset to wrestling with data in weird formats and chunking. 

**Pro-tip:** strings take up *way* more space in RAM than numbers, so some columns can be converted to keep the memory footprint of the data down.